* {
  font-family: fantasy;
  header {
    color: rgb(222, 184, 135);
    font-size: 1.5em;
    text-shadow: 2px 2px black;
    padding: 10px;
  }
  img {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    opacity: 0.75;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    button {
      width: 200px;
      margin: 0 auto;
      padding: 5px;
      font-weight: bold;
      border-radius: 5px;
    }
    input {
      margin-bottom: 10px;
      padding: 5px;
    }
    textarea {
      margin-bottom: 10px;
      padding: 5px;
    }
  }
  h2 {
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    list-style: none;
    background: rgb(222, 184, 135, 0.472);
    border: 1px solid black;
    padding: 10px;
    width: 40%;
    margin: 15px;
    font-size: 1.05em;
  }
  li:hover {
    box-shadow: 2px 2px black;
  }
}
